<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
				<li><a href="/cv">CV</a></li>
				<!--
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/blog">Blog</a></li>-->
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href='ma&#105;lto&#58;c&#108;%65&#37;6De%6Et&#46;%62i%63he&#37;6C&#37;&#52;0&#103;&#109;&#97;i&#37;&#54;C%2&#69;&#99;o&#37;&#54;D'>Ema&#105;l</a></li>
	        		<li><a href="https://www.linkedin.com/in/clementbichel/">Linkedin</a></li>
				</ul>
			</footer>
		</body>
	</html>
